body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    width: 60%;
    margin: 1.5% auto;
    border: 22px solid #c8cbce;
}

.content {
    margin: 3%;
}

h1 {
    font-size: 2em;
    color: #0e3a57d8;
}

h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    color: #3faad4ce;
    letter-spacing: 4px;
    margin: 0px;
}

hr {
    height: 2.5px;
    background-color: #dbe7e27c;
    border: 0;
    margin: 3% 0;  
}

h1 + p {
    border-left: 7px solid #c8cbce;
    padding-left: 7px;
}