body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
    max-width: 750px;
    margin: 1.5% auto;
    border: 22px solid #c8cbce;
}

.content {
    margin: 3%;
}

h2 {
    font-size: 2.0rem;
    color: #0e3a57d8;
}

.date {
    text-transform: uppercase;
    font-weight: 600;
    color: #3faad4ce;
    letter-spacing: 0.2rem;
    margin: 0px;
}

hr {
    height: 2.5px;
    background-color: #dbe7e27c;
    border: 0;
    margin: 3% 0;  
}

.quote {
    border-left: 7px solid #c8cbce;
    padding-left: 7px;
}